footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    background-color: var(--primary-color);
    color: var(--font-color);
    margin-top: var(--padding-large);
}

.footer-paragraph {
    padding: var(--padding-medium);
}

.footer__link {
    border-bottom: 1px solid var(--font-color);
}