.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
    height: 6rem;
    background-color: var(--primary-color);
    color: var(--font-color);
}

.navbar__team-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navbar__logo {
    width: 12%;
}

.navbar__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar__heading-title {
    font-size: xx-large;
    letter-spacing: 0.5rem;
}

.navbar__heading-under-title {
    font-size: medium;
    letter-spacing: 0.2rem;
}

.navbar__links {
    display: flex;
    gap: 5rem;
}