:root {
    --background-color: white;
    --foreground-color: grey;
    --primary-color: #2476d3;
    --font-color: white;
    --box-shadow: black;
    --border-raidus: 1rem;
    --padding-xs: 0.5rem;
    --padding-small: 1rem;
    --padding-medium: 2rem;
    --padding-large: 3rem;
}